<div class="background">
<a routerLink="/login">
    <img class="principal" src="./../../../../assets/images/21.jpeg">
</a>
</div>



<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   
  
            <p class="phone">(832) 541 20 46</p>
  
        <p class="description">Somos un equipo de profesionales con más de 5 años de experiencia, estamos orgullosos y 100% comprometidos en traerte los mejores recuerdos de tu día especial.
            Hacemos fotos y videos cinematográficos utilizando los equipos más nuevos para brindarle la mejor calidad.
            Sabemos lo que significa tu día especial para ti, ¡así que lo sentimos como si fuera nuestro!
            Muchos clientes satisfechos nos dan la motivación para seguir brindándote muchas sonrisas cuando veas tus momentos en nuestras fotos y videos.
            
            ¡¡Siéntete seguro de dejar tus recuerdos en nuestras manos !!
        </p>
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>





<div class="button_group">
    <p>Language</p>
    <a href="/">

        <img class="flag" src="../../../../assets/images/us.png">
    </a>

    <a routerLink="/es">

        <img class="flag" src="../../../../assets/images/es.png">  
    </a>
  
</div>


<div class="row border center">


    <div class="  col-xs-12 col-sm-12 col-md-0 col-lg-1">    

    </div> 

   <div class="  col-xs-12 col-sm-12 col-md-12 col-lg-2">    
       <button class="button" routerLink="/es"  >Portada</button>
    </div> 
   <div class="  col-xs-12 col-sm-12 col-md-12 col-lg-2">    
       <button class="button" routerLink="/galery/es">Fotos</button>
    </div> 
   <div class="  col-xs-12 col-sm-12 col-md-12 col-lg-2">    
       <button class="button" routerLink="/videos/es">Videos</button>
    </div> 
   <div class="  col-xs-12 col-sm-12 col-md-12 col-lg-2">    
       <button class="button" routerLink="/services/es">Paquetes</button>
    </div> 
   <div class="  col-xs-12 col-sm-12 col-md-12 col-lg-2">    
       <button class="button" routerLink="/contact/es">Contacto</button>
    </div> 
    <div class="  col-xs-12 col-sm-12 col-md-0 col-lg-1">    
     
    </div> 


    
</div>

<div class="row center" >
    
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a href="https://www.facebook.com/RoyalWeddingEventsTexas" target="_blank">
            <img  class="icon-1" src="../../../../assets/images/facebook.png">
        </a>

    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a href="https://www.instagram.com/royal.weddingsevents" target="_blank">
            <img class="icon-2" src="../../../../assets/images/instagram.png">
        </a>

    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a href="https://www.youtube.com/watch?v=w9m5MYg6Fmg" target="_blank">
            <img class="icon-3" src="../../../../assets/images/youtube.png">
        </a>

    </div>
   

</div>
