<div class="center background">
    <br>
    <br>
    <h2 class="title">Schedule your appointment</h2>
    <br>
</div>
<br>

 <div class="center">

        <h2 >Event date</h2>
    </div>
<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   
          <mat-card class="demo-inline-calendar-card">
            <mat-calendar (selectedChange)="selected = $event" ></mat-calendar>
        </mat-card>
        
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>

<!-- FORM CONTROL-->

<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   

<mat-card>
    <mat-form-field class="example-full-width" appearance="fill">      
        <input matInput class="style" placeholder="    *Name" type="text" [formControl]="nameFiel">       
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill" >
        
        <input matInput class="style" placeholder="    *Email" type="text" [formControl]="emailFiel">
        
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        
        <input matInput class="style" placeholder="    *Phone" type="text" [formControl]="phoneFiel">
        
    </mat-form-field>
</mat-card>
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>

<br>

<!--RADIO BUTTON-->


<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   

    <mat-card>
    <label id="example-radio-group-label">I prefer to be contacted at:</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoriteContact"
 >
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>

<div class="center">

    <button (click)="validatorCheck()" mat-raised-button>Send</button>
</div>

</mat-card>

    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>



