<div class="background">

    <img class="principal" src="./../../../../assets/images/imgPortada.jpg">
</div>



<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-4 col-lg-4">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-4 col-lg-4">   
  
            <p class="phone">(832) 541 20 46</p>
  
        <p class="description">HOUSTON QUINCEAÑERA EXPERTS
        12 years in the Quinceañera industry and counting.
        Best Top 10 Houston Quinceañera Photographer of 2017, 2018, 2019, 2020 & 2021 on Expertise.com. 

        We now do more than just Photo & Video for Quinceañeras in all Houston and surrounding areas. 
        The Lunabela Experience expands to all United States with most of our services including Quinceañera Photography,
        Videography, Choreography, Chambelanes and more, with great prices and outstanding service.

        Lunabela work could be found in several partnered Halls around Houston who had trusted us with all of their
        valuable clients to provide our excellent service and quality of work. Just to mention some our partnered halls; 
        Villalpando’s Reception Hall, Imperial Banquet Hall & Spring Chateau, so keep an eye on us, as we grow and partner 
        with more talented businesses to provide you with the most professional, talented and unique service there is 
        for all Quinceañeras.</p>
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-4 col-lg-4">    </div>   
  
</div>





<div class="button_group">
    <p>Language</p>
    <img class="flag" src="../../../../assets/images/us.png">
    
    <img class="flag" src="../../../../assets/images/es.png">  
  
</div>


<div class="row border center">
    <div class="  col-xs-12 col-sm-12 col-md-3 col-lg-3">    
        <button class="button" routerLink=""  >Portada</button>
     </div> 
    <div class="  col-xs-12 col-sm-12 col-md-3 col-lg-3">    
        <button class="button" routerLink="/galery">Muestras</button>
     </div> 
    <div class="  col-xs-12 col-sm-12 col-md-3 col-lg-3">    
        <button class="button" routerLink="/services">Paquete</button>
     </div> 
    <div class="  col-xs-12 col-sm-12 col-md-3 col-lg-3">    
        <button class="button" routerLink="/contact">Contacto</button>
     </div> 

    
</div>

<div class="row center" >
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

        <img class="icon" src="../../../../assets/images/facebook.png">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

        <img class="icon" src="../../../../assets/images/instagram.png">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

        <img class="icon" src="../../../../assets/images/youtube.png">
    </div>

</div>
