<div class="background">

    <img class="principal" src="./../../../../assets/images/22.jpg">
</div>



<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   
  
            <p class="phone">+1 (832) 541 20 46</p>
  
        <p class="description">We are a team of professionals with more than 5 years of experience, we are proud and 100% committed on bring you the best memories of your special day. 
            We make photos and cinematic videos using the newest equipments to bring you the best quality for you.
            We know what your special day means for you, so we feel it like if it was ours!!
            Many satisfied clients give us the motivation to keep bringing for you lots of smiles when you see your moments on our photos and videos. 
            
            Feel confident to leave your memories in our hands!!
        </p>
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>





<div class="button_group">
    <p>Language</p>
    <a href="/">

        <img class="flag" src="../../../../assets/images/us.png">
    </a>

    <a routerLink="/es">

        <img class="flag" src="../../../../assets/images/es.png">  
    </a>
    
  
</div>


<div class="row border center">

    <div class="  col-xs-12 col-sm-12 col-md-0 col-lg-1">    

     </div> 

    <div class="  col-xs-12 col-sm-12 col-md-12 col-lg-2">    
        <button class="button" routerLink=""  >Home</button>
     </div> 
    <div class="  col-xs-12 col-sm-12 col-md-12 col-lg-2">    
        <button class="button" routerLink="/galery">Photos</button>
     </div> 
    <div class="  col-xs-12 col-sm-12 col-md-12 col-lg-2">    
        <button class="button" routerLink="/videos">Videos</button>
     </div> 
    <div class="  col-xs-12 col-sm-12 col-md-12 col-lg-2">    
        <button class="button" routerLink="/services">Packages</button>
     </div> 
    <div class="  col-xs-12 col-sm-12 col-md-12 col-lg-2">    
        <button class="button" routerLink="/contact">Contact</button>
     </div> 
     <div class="  col-xs-12 col-sm-12 col-md-0 col-lg-1">    
      
     </div> 


    
</div>

<div class="row center" >
    
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a href="https://www.facebook.com/RoyalWeddingEventsTexas" target="_blank">
            <img  class="icon-1" src="../../../../assets/images/facebook.png">
        </a>

    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a href="https://www.instagram.com/royal.weddingsevents" target="_blank">
            <img class="icon-2" src="../../../../assets/images/instagram.png">
        </a>

    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a href="https://www.youtube.com/watch?v=w9m5MYg6Fmg" target="_blank">
            <img class="icon-3" src="../../../../assets/images/youtube.png">
        </a>

    </div>
   

</div>
