.image{
    width: 100%;
    height: auto;
}

.title{
    text-align: center;
    font-weight: bold;
}

.price{
    text-align: center;
    font-weight: bold;
    font-size:xx-large
}

.container{
    border-style: solid;
    width: 200px;
    height: auto;
}