<app-header></app-header>
<app-my-menu></app-my-menu>

<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   
          <mat-card class="demo-inline-calendar-card">
            
            <video  controls width="100%" height="auto" #myVideo  preload="auto" >
                <source src='./../../../../assets/video/5.mp4' type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            </video>

        </mat-card>
     
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>

<br>




<app-marco [Image]="imageOne"></app-marco>
<app-marco [Image]="imageFour"></app-marco>

<app-calendar></app-calendar>

<!-- PROMO 1-->

<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   
          <mat-card class="demo-inline-calendar-card">
                <h2 class="title"> Se acerca tu quinceañera</h2>

    <p>
        Royal Wedding is a photography and video company
          located in the Houston area. Our specialty and
           expertise are quinceañeras. Our work is luxurious,
           vibrant, bright and colorful. We have years of experience and
           we are 100% focused on helping you make your special day
           be the best it can be. Contact us now to see why so many
           families in Houston have confidence in our work.
    </p>
        </mat-card>
      
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>
<br>

<!--PROMO 2-->
<div class="center background">
    <br>
    <br>
    <h2 class="title">Our services</h2>
    <br>
</div>
<br>

<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   
          <mat-card class="demo-inline-calendar-card">
            
        

            <app-marco [Image]="imageTwo"></app-marco>

            <div class="services"> 
                <h2>Photo services</h2>
                <p>USB photography</p>
                <p>Digital photography</p>
                <p>Photo impressions</p>
                <p>Photo almbus</p>
                <p>        
                    A picture says a thousand words. We will work
                    with you and we will do everything in our power
                    reach to make sure your event is
                    captured in the best possible way.
                </p>
            </div>


            <div class="center">

                <button class="buttonMuestras"
                routerLink="/galery"
                >Samples</button>
            </div>

        </mat-card>
       
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>
<br>



<!--PROMO 3-->

<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   
          <mat-card class="demo-inline-calendar-card">

            <mat-card>


                
                <video  controls width="100%" height="auto" #myVideo  preload="auto" >
                    <source src='./../../../../assets/video/Reel_BodaLloyd_ValentinaHD2.mp4' type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </mat-card>


            
                        <div class="services"> 
                <h2>Video Service</h2>
                <p>USB video</p>
                <p>Digital video</p>
                <p>Blu Ray</p>
                <p>Video Drone</p>
                <p>        
                    If life is worth living, it is worth remembering.
                     Let us create a masterpiece of your event,
                     so you can have the memories for all
                     generations to come.
                </p>
            </div>
            <div class="center">
                <button class="buttonMuestras" routerLink="videos">Sample</button>
            </div>
        </mat-card>
        
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>

<br>


<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   
          <mat-card class="demo-inline-calendar-card">
           
            <div class="services"> 
                <h2>SAVE YOUR DATE WITH ONLY $ 500 IN ADVANCE! CALL US NOW!!</h2>
            </div>
            <div class="center">

                <button (click)="call()" class="buttonMuestras">Call Us</button>
            </div>

            <div class="services"> 
                <h3>Would you like to see our
                    work in person?</h3>
                <p>FREE APPOINTMENT</p>
                <p>We will show you our albums, video examples, photos, etc.</p>

            </div>

        </mat-card>
      
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>

<!--ABOUT US-->
<div class="center background">
    <br>
    <br>
    <h2 class="title">About Us</h2>
    <br>
</div>
<br>
<app-marco [Image]="imageThree"></app-marco>







<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8 center">   

  
    <h2>Victor Ixmata</h2>
    <p>I have always been a passionate person for my work, with more than 5 years of experience 
         in the world of wedding and quinceañera events always at the forefront
        and in constant improvement in order to provide the best memory of that date so
        important to you and your family.
    </p>

    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>


<app-footer></app-footer>
