<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-4 col-lg-4">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-4 col-lg-4">   
          <mat-card class="demo-inline-calendar-card">
            
            <video  controls width="100%" height="auto" #myVideo  preload="auto" >
                <source src={{data}} type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            </video>

        </mat-card>
     
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-4 col-lg-4">    </div>   
  
</div>

<br>