<div class="center background">


    
    <h2 class="title">Nuestra ubicacion</h2>

    <div class="row ">

   
        <div class="  col-xs-0 col-sm-0 col-md-4 col-lg-4">    </div>
        <div class="  col-xs-12 col-sm-12 col-md-4 col-lg-4">   
              <mat-card class="demo-inline-calendar-card">
                 <img class="sizeImage" src="./../../../assets/images/map.png">
            </mat-card>
            
        
        </div>
        <div class="  col-xs-0 col-sm-0 col-md-4 col-lg-4">    </div>   
      
    </div>

    <h2 class="title">17310 FM 529, Houston, TX 77095</h2>
    <h2 class="title">ixmata1995@icloud.com</h2>
    <h2 class="title">(832) 541 20 46</h2>


    <div class="row ">

   
        <div class="  col-xs-0 col-sm-0 col-md-4 col-lg-4">    </div>
        <div class="  col-xs-12 col-sm-12 col-md-4 col-lg-4">   
              <mat-card class="demo-inline-calendar-card">
               
            </mat-card>
            
        
        </div>
        <div class="  col-xs-0 col-sm-0 col-md-4 col-lg-4">    </div>   
      
    </div>

   
</div>