<app-header></app-header>
<app-my-menu-es></app-my-menu-es>

<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   
          <mat-card class="demo-inline-calendar-card">
            
            <video  controls width="100%" height="auto" #myVideo  preload="auto" >
                <source src='./../../../../assets/video/5.mp4' type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            </video>

        </mat-card>
     
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>

<br>




<app-marco [Image]="imageOne"></app-marco>
<app-marco [Image]="imageFour"></app-marco>

<app-calendar-es></app-calendar-es>

<!-- PROMO 1-->

<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   
          <mat-card class="demo-inline-calendar-card">
                <h2 class="title"> Se acerca tu quinceañera</h2>

    <p>
        Royal Wedding es una compañía de fotografía y video
         ubicada en el área de Houston. Nuestra especialidad y
          expertise son las quinceañeras. Nuestro trabajo es de lujo, 
          vibrante, brillante y colorido. Tenemos años de experiencia y 
          estamos 100% enfocados en ayudarlo a usted a que su día especial 
          sea lo mejor que pueda ser. Contáctenos ahora para ver por qué tantas 
          familias en Houston tienen confianza en nuestro trabajo.
    </p>
        </mat-card>
      
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>
<br>

<!--PROMO 2-->
<div class="center background">
    <br>
    <br>
    <h2 class="title">Servicios que ofrecemos</h2>
    <br>
</div>
<br>

<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   
          <mat-card class="demo-inline-calendar-card">
            
        

            <app-marco [Image]="imageTwo"></app-marco>

            <div class="services"> 
                <h2>Servicio de fotografia</h2>
                <p>Entrega USB</p>
                <p>Entrega digital</p>
                <p>Impresiones</p>
                <p>Albumes de fotos</p>
                <p>        
                    Una imagen dice mil palabras. Trabajaremos
                    con usted y haremos todo lo que esté a nuestro
                    alcance para asegurarnos de que su evento sea 
                    capturado de la mejor manera posible.
                </p>
            </div>


            <div class="center">

                <button class="buttonMuestras" routerLink="/galery/es">Ver muestras</button>
            </div>

        </mat-card>
       
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>
<br>



<!--PROMO 3-->

<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   
          <mat-card class="demo-inline-calendar-card">

            <mat-card>


                
                <video  controls width="100%" height="auto" #myVideo  preload="auto" >
                    <source src='./../../../../assets/video/Reel_BodaLloyd_ValentinaHD2.mp4' type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </mat-card>


            
                        <div class="services"> 
                <h2>Servicio de Video</h2>
                <p>Entrega USB</p>
                <p>Entrega digital</p>
                <p>Blu Ray</p>
                <p>Video Drone</p>
                <p>        
                    Si vale la pena vivir, vale la pena recordarlo. 
                    Permítanos crear una obra maestra de su evento, 
                    para que pueda tener los recuerdos para todas las 
                    generaciones venideras.
                </p>
            </div>
            <div class="center">
                <button class="buttonMuestras" routerLink="/videos/es">Ver muestras</button>
            </div>
        </mat-card>
        
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>

<br>


<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8">   
          <mat-card class="demo-inline-calendar-card">
           
            <div class="services"> 
                <h2>RESERVA TU FECHA CON SOLO $500 DE ANTICIPO!  LLÁMANOS AHORA!!</h2>
            </div>
            <div class="center">

                <button (click)="call()" class="buttonMuestras">Click para llamar</button>
            </div>

            <div class="services"> 
                <h3>Te gustaría  ver nuestro
                    trabajo en persona?</h3>
                <p>CONTÁCTANOS PARA UNA CITA GRATIS!</p>
                <p>Te mostraremos nuestros albums, ejemplos de video, marcos, etc.</p>

            </div>

        </mat-card>
      
    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>

<!--ABOUT US-->
<div class="center background">
    <br>
    <br>
    <h2 class="title">Sobre nosotros</h2>
    <br>
</div>
<br>
<app-marco [Image]="imageThree"></app-marco>


<div class="row ">

   
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>
    <div class="  col-xs-12 col-sm-12 col-md-10 col-lg-8 center">   

  
    <h2>Victor Ixmata</h2>
    <p>Siempre eh sido una persona apasionada por mi trabajo, con mas de 5 años de 
    experiencia en el mundo de eventos de bodas y quinceañeras siempre a la vanguardia
    y en constante mejora para asi poder brindar el mejor recuerdo de esa fecha tan
    importante para usted y su familia.
    </p>

    
    </div>
    <div class="  col-xs-0 col-sm-0 col-md-1 col-lg-2">    </div>   
  
</div>


<app-footer></app-footer>
